.TableStyle{
    width: 100%;
    max-width: 700px;
    padding: 50px;
    margin: 0 auto;
    border-radius: 4px;
    background-color: #FFF;
}

.tableCon{
    margin: 80px auto;  
    width: 100%;
    max-width: 800px;
}

td {
    text-align: center;
    border-bottom: 1px solid black;
}
table { 
    border-collapse: collapse;
    background-color: #FFF;
    border-radius: 4px;
    width: 100%;
}
table thead tr th{
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    white-space: nowrap;
    text-align: left;
    color: #4D4F5C;
    font-size: 14px;
}
table tbody tr td{
    font-size: 12px;
    padding: 10px 15px;
    border-bottom: 1px solid #eee;
    text-align: left;
    vertical-align: top;
    line-height: 20px;
}
table thead tr th:nth-child(1){
    min-width: 100px;
}
table thead tr th:nth-child(2){
    min-width: 150px;
}
table thead tr th:nth-child(3){
    min-width: 150px;
}
table tbody tr td:last-child p{
    overflow-wrap: anywhere;
    margin: 0;
}
