<div class="loginContainer">
  <img src="../assets/images/Logos.svg" alt>
  <h2>Please fill in the fields below</h2>  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!--City-->
    <div class="inpuWrap">
      <label for="City">City</label>
      <input id="City" type="text" [ngClass]="showChart ? 'disable-input' : ''" [ngStyle]="{'border-color': cityerror ? 'red' : '' }" [readonly]="loginDisable" formControlName="city">
      <p class="close-icon" *ngIf="!showChart && cityerror && form.value.city.length" (click)="clearField('city')">&#x2715;</p>
      <p class="error" *ngIf="cityerror">{{cityerror}}</p>
    </div>

    <!--Mobile Number-->
    <div class="inpuWrap marBot">
      <label for="MobileNumber">Mobile Number</label>
      <div class="inputMobile">
        <input id="MobileNumber" type="text" [ngClass]="showChart ? 'disable-input' : ''" [readonly]="loginDisable" [ngStyle]="{'border-color': numbererror ? 'red' : '' }"  maxlength="16" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" formControlName="number">
        <p class="close-icon" *ngIf="submitted && !showChart && form.value.number > 0" (click)="clearField('number')">&#x2715;</p>
      </div>
      <p *ngIf="!numbererror && !loginDisable">Please add a country code before mobile number</p>
      <p class="error" *ngIf="numbererror">{{numbererror}}</p>
    </div>

    <!--Submit Button-->
    <div class="form-group">
      <button class="button" type="submit" [ngClass]="showChart ? 'disable-input' : ''" [disabled]="loginDisable">Submit</button>
    </div>
  </form>
</div>
<div *ngIf="showChart">
  <app-data-transfer></app-data-transfer>
</div>