<div class="loginContainer">
  <img src="../assets/images/Logos.svg" alt>
  <h2>Please fill in the fields below</h2>  
  <form [formGroup]="form" (ngSubmit)="onSubmit()">

    <!--City-->
    <div class="inpuWrap">
      <label for="City">City</label>
      <div class="inputMobile">
        <input id="City" type="text" [ngClass]="showChart ? 'disable-input' : ''" [ngStyle]="{'border-color': cityerror ? 'red' : '' }" [readonly]="loginDisable" formControlName="city" autocomplete="off">
        <p class="close-icon" *ngIf="submitted && !showChart && cityerror" (click)="clearField('city')">&#x2715;</p> 
      </div>
      <p class="error" *ngIf="cityerror">{{cityerror}}</p>
    </div>

    <!--Mobile Number-->
    <div class="inpuWrap marBot">
      <label for="MobileNumber">Mobile Number</label>
      <div class="inputMobile">
        <input id="MobileNumber" type="text" [ngClass]="showChart ? 'disable-input' : ''" [readonly]="loginDisable" [ngStyle]="{'border-color': numbererror ? 'red' : '' }" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*)\./g, '$1');" formControlName="number" maxlength="16" autocomplete="off">
        <p class="close-icon" *ngIf="submitted && !showChart && numbererror && form.value.number > 0" (click)="clearField('number')">&#x2715;</p>
      </div>
      <p *ngIf="!numbererror ">Please add a country code before mobile number</p>
      <p class="error" *ngIf="numbererror">{{numbererror}}</p>
    </div>

    <!--Submit Button-->
    <div class="form-group">
      <button class="button" type="submit" [ngClass]="showChart ? 'disable-input' : ''" [disabled]="loginDisable">Submit</button>
    </div>
  </form>
</div>
<div  class="bottom-spacing" *ngIf="showChart">
  <app-weather-report></app-weather-report>
</div>